@charset "UTF-8";

/* cssリセット */

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #212121;
    font-family: font-family: Futura, 'Century Gothic', YuGothic, 'Hiragino Kaku Gothic ProN', 'Yu Gothic', Meiryo, sans-serif;
    font-feature-settings: "palt";
}

html {
    scroll-behavior: smooth;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* CSSリセットここまで */

/* ヘッダー */

body {
    margin: 0;
    padding: 0;
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #4c4b49;
    color: #fff;
    padding: 10px 20px;
    box-sizing: border-box;
}

.nav-top {
    background: transparent;
    color: #000;
}

.nav ul {
    display: flex;
    list-style: none;
}

.nav ul li {
    margin: 0 20px;
}

.fv {
    min-height: 100vh;
}

.fv img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* ヘッダーここまで */


/* メイン */

.main {
    background-color: #fffdf8;
    /* position: relative; こっちかと思ったけど違った */
}

.main h2 {
    font-size: 36px;
    text-align: center;
    padding: 80px 0px 50px 0px;
}

.main p {
    font-size: 16px;
}


/* ここまでメイン */


/* PC版ではスマホメニューを非表示にするためのもの */
.sp_btn,
.sp_nav {
    display: none;
}

@media screen and (max-width: 1100px) {
    .pc_nav {
        display: none;
    }

    /* ハンバーガー */

    .sp_btn {
        position: absolute;
        top: 20px;
        right: 25px;
        display: block;
        height: 23px;
        cursor: pointer;
        z-index: 2;
    }

    .sp_btn span {
        position: relative;
        top: 10px;
        display: block;
        width: 33px;
        height: 3px;
        border-radius: 2px;
        background-color: #fff;
        transition: 0.3s;
    }

    .sp_btn span::before,
    .sp_btn span::after {
        position: absolute;
        content: "";
        display: block;
        width: 33px;
        height: 3px;
        border-radius: 2px;
        background-color: #fff;
        transition: 0.3s;
    }

    .sp_btn span::before {
        bottom: 10px;
    }

    .sp_btn span::after {
        top: 10px;
    }

    /* ハンバーガー閉じる */

    .sp_btn.open span {
        background: transparent;
    }

    .sp_btn.open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }

    .sp_btn.open span::after {
        top: 0;
        transform: rotate(135deg);
    }

    /* ハンバーガーメニュー */
    .sp_nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        z-index: 1;
    }

    .sp_nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .sp_nav ul li {
        padding: 20px;
        color: #fff;
        font-size: 18px;
        font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
            "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    }

    /* lead */

    .lead_main {
        font-size: 38px;
    }

    .lead_desc {
        font-size: 19px;
    }

    /* aboutus */

    .midashi {
        font-size: 36px;
    }

    .midashi_desc {
        font-size: 16px;
    }
}

/* sp */

@media screen and (max-width: 767px) {

    /* lead */

    .lead {
        padding: 41px 0px 0px 0px;
    }

    .lead_eigo {
        margin-bottom: 23px;
        font-size: 17px;
    }

    .lead_main {
        margin-bottom: 13px;
        font-size: 38px;
        letter-spacing: 0;
    }

    .lead_desc {
        font-size: 16px;
    }

    .sp_only {
        display: block;
    }

    /* about us */

    /* 質問です。aboutusのsp版を作成し始めたあたりから、なぜか要素が背景をはみ出しています。 色々試しましたが、原因が分からないため、一旦断念します。このまま取り返しのつかないミスをし続けるのも怖いので、、、*/

    .aboutus {
        display: block;
        max-width: 766px;
        margin: 0 auto 0 0;
    }

    .aboutus_img {
        display: none;
    }

    .aboutus_img_sp {
        display: block;
        max-width: 100%;
        padding-bottom: 35px;
    }

    .aboutus_text {
        display: block;
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
    }

    .aboutus_text h2 {
        width: 160px;
        margin: 0 auto;
        padding-top: 0;
    }

    .midashi {
        font-size: 36px;
        padding: 0 0 0 20px;
    }

    .aboutus_text {
        display: block;
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
    }

}

/* スライダー調整 */

.slick-dots {
    bottom: 20px;
}

.slick-dots li button:before,
.slick-dots li.slick-active button:before {
    color: #fff;
    font-size: 14px;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}