@charset "UTF-8";

/* cssリセット */

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #4f260b;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    font-feature-settings: "palt";
}

html {
    scroll-behavior: smooth;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* CSSリセットここまで */

/* ヘッダー */

.header_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 7% 0 3%;
}

.header_logo {
    width: 226px;
}

.pc_nav ul {
    display: flex;
}

.pc_nav ul li {
    width: 105px;
    margin-left: 55px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

/* ヘッダーここまで */


/* メイン */

.main {
    background-color: #e8d9bf;
}

/* lead */

.lead {
    padding: 100px 0px 0px 0px;
    text-align: center;
    margin: 0 auto;
}

.lead_eigo {
    margin-bottom: 50px;
    font-size: 30px;
}

.lead_main {
    margin-bottom: 30px;
    font-size: 82px;
    line-height: 1.17;
    letter-spacing: 0.1em;
}

.lead_desc {
    font-size: 23px;
    line-height: 1.65;
    letter-spacing: 0.1em;
}

.sp_only {
    display: none;
}


/* aboutus */

.aboutus {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 100px auto 0px;
}

.aboutus_img {
    width: 50%;
}

.aboutus_img_sp {
    display: none;
}

.aboutus_text {
    width: 41%;
    padding-right: 10px;
    padding-left: 10px;
}

.aboutus_text h2 {
    width: 272px;
    margin: 0 auto 40px 0;
    padding-top: 56px;
}

.midashi {
    font-size: 44px;
    margin-bottom: 20px;
    line-height: 1.38;
}

.midashi_desc {
    font-size: 16px;
    line-height: 1.6;
}


/* menu */

.menu {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 100px;
}

.menu h2 {
    width: 151px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.menu_yoko {
    display: flex;
    justify-content: space-between;
}

.menu_nakami {
    max-width: 30%;
    font-size: 17px;
}

.menu_nakami h3 {
    margin-top: -12px;
    margin-bottom: 15px;
    padding-left: 12px;
    font-size: 38px;
    color: #d30202;
    font-weight: normal;
}

.menu_nakami p {
    font-size: 17px;
    line-height: 1.47;
    text-align: justify;
}


/* gallery */
.gallery {
    padding-top: 89px;
}

.gallery h2 {
    width: 245px;
    margin: 0 auto;
}

.gallery_cont {
    padding-top: 26px;
    display: flex;
}


/* event */

.event {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 72px;
}

.event h2 {
    width: 173px;
    margin: 0 auto 50px auto;
}

.event_box {
    border: 3px solid #4f260b;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 36px;
}

.event_box ul {
    font-size: 23px;
}

.event_box ul li time {
    margin-right: 50px;
}

.event_box ul li time a {
    text-decoration: underline;
}


.eventlist .item+.item {
    margin-top: 20px;
}


/* access */
.access {
    padding-top: 80px;
}

.access h2 {
    width: 213px;
    margin: 0 auto 40px;
}

.access iframe {
    display: block;
    width: 100%;
    height: 470px;
}


/* ここまでメイン */


/* フッター */

footer {
    padding: 75px 0;
}

.detail {
    display: flex;
    max-width: 1000px;
    margin: 0 auto 70px;
}

.detail_logo {
    width: 226px;
    margin-left: 10px;
    margin-right: 60px;
}

.detail_text {
    color: #000;
    font-size: 20px;
    line-height: 1.95;
}

.copy {
    text-align: center;
    font-size: 16px;
    color: #000;
}

.pagetop {
    width: 125px;
    height: 125px;
    position: fixed;
    right: 40px;
    bottom: 40px;
}

/* PC版ではスマホメニューを非表示にするためのもの */
.sp_btn,
.sp_nav {
    display: none;
}

@media screen and (max-width: 1100px) {
    .pc_nav {
        display: none;
    }

    /* ハンバーガー */

    .sp_btn {
        position: absolute;
        top: 20px;
        right: 25px;
        display: block;
        height: 23px;
        cursor: pointer;
        z-index: 2;
    }

    .sp_btn span {
        position: relative;
        top: 10px;
        display: block;
        width: 33px;
        height: 3px;
        border-radius: 2px;
        background-color: #fff;
        transition: 0.3s;
    }

    .sp_btn span::before,
    .sp_btn span::after {
        position: absolute;
        content: "";
        display: block;
        width: 33px;
        height: 3px;
        border-radius: 2px;
        background-color: #fff;
        transition: 0.3s;
    }

    .sp_btn span::before {
        bottom: 10px;
    }

    .sp_btn span::after {
        top: 10px;
    }

    /* ハンバーガー閉じる */

    .sp_btn.open span {
        background: transparent;
    }

    .sp_btn.open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }

    .sp_btn.open span::after {
        top: 0;
        transform: rotate(135deg);
    }

    /* ハンバーガーメニュー */
    .sp_nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        z-index: 1;
    }

    .sp_nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .sp_nav ul li {
        padding: 20px;
        color: #fff;
        font-size: 18px;
        font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
            "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    }

    /* lead */

    .lead_main {
        font-size: 38px;
    }

    .lead_desc {
        font-size: 19px;
    }

    /* aboutus */

    .midashi {
        font-size: 36px;
    }

    .midashi_desc {
        font-size: 16px;
    }
}

/* sp */

@media screen and (max-width: 767px) {

    /* lead */

    .lead {
        padding: 41px 0px 0px 0px;
    }

    .lead_eigo {
        margin-bottom: 23px;
        font-size: 17px;
    }

    .lead_main {
        margin-bottom: 13px;
        font-size: 38px;
        letter-spacing: 0;
    }

    .lead_desc {
        font-size: 16px;
    }

    .sp_only {
        display: block;
    }

    /* about us */

    /* 質問です。aboutusのsp版を作成し始めたあたりから、なぜか要素が背景をはみ出しています。 色々試しましたが、原因が分からないため、一旦断念します。このまま取り返しのつかないミスをし続けるのも怖いので、、、*/

    .aboutus {
        display: block;
        max-width: 766px;
        margin: 0 auto 0 0;
    }

    .aboutus_img {
        display: none;
    }

    .aboutus_img_sp {
        display: block;
        max-width: 100%;
        padding-bottom: 35px;
    }

    .aboutus_text {
        display: block;
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
    }

    .aboutus_text h2 {
        width: 160px;
        margin: 0 auto;
        padding-top: 0;
    }

    .midashi {
        font-size: 36px;
        padding: 0 0 0 20px;
    }

    .aboutus_text {
        display: block;
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
    }

}