@charset "UTF-8";

/* cssリセット */

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #000;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}

/* CSSリセットここまで */


/* 問題1 */


.blue{
    width: 300px;
    height: 300px;
    background-color: blue;
}

.mondai1{
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    justify-content: space-between;
}


/* 問題2 */


.red{
    width: 300px;
    height: 300px;
    background-color: red;
}

.mondai2{
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 0 auto;
    justify-content: space-between;
}


/* 問題3 */


.mondai3{
    display: flex;
    max-width: 960px;
}

.mondai3 h1{
 margin: 0 auto;
}

.nav{
    width: 50%;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav li {
    border-right: 1px solid #313131;
    padding-right: 11px;
}

.nav li:last-child {
    border-right: 0px;
    padding-right: 0px;
}


/* わーく2 */


/* ここからスマホ向け */

@media screen and (max-width:767px) {

    .mondai3{
        display: block;
        margin-left: 15px;
        margin-right: 15px;
    }
    
    .nav{ 
        display: block;
        margin: 0 ;
    }
    
    .nav li {
        border-right: 0px;
        border-bottom: 1px solid #313131;
        padding-top: 7px;
        padding-bottom: 7px;
    }

}
