@charset "UTF-8";

.thanks {
    background-image: url(../images/contact_back.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-bottom: 50px;
}

.p {
    font-size: 16px;
}